body {
  background-color: #090e1d;
  color: #fff;
  margin: 0px;
  padding: 0px;
}

.flexbox-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100vh;
}

.clock {
  margin: auto;
  font-family: sans-serif;
}
.time {
  font-size: 25vw;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}
.options {
  font-size: 2vw;
}
.options span {
  font-size: 5vw;
}
.break-length {
  text-align: center;
  float: left;
}
.session-length {
  text-align: center;
  float: right;
}